<h1>Calcuate the square of a number</h1>

<form action="/square/results">
  <label for="tango">Enter a number</label>

  <input id="tango" type="text" name="users_number">

  <button>Calculate square</button> 
</form>
