<h1>Payment with Form</h1>

<form action="/payment/results">
<div>
  <label for="delta">APR</label>
  <input id="delta" type="text" name="APR">
  </div>

<div>
   <label for="bravo">Number of years</label>
  <input id="bravo" type="text" name="number_years">
</div>

<div>
   <label for="motel">Principal</label>
  <input id="motel" type="text" name="principal">
</div>

  <button>Calculate monthly payment</button> 
</form>
