<h1>Payment Results</h1>


<dl>
  <dt>
    APR
  </dt>
  <dd>
    <%= @the_apr.to_fs(:percentage, { :precision => 4 } ) %>
  </dd>

  <dt>
    Number of years
  </dt>
  <dd>
    <%= @the_years %>
  </dd>

<dt>
    Principal
  </dt>
  <dd>
    <%= @the_principal.to_fs(:currency) %>
  </dd>


  <dt>
    Payment
  </dt>
  <dd>
      <%= @the_payment_refined %>
  </dd>
</dl>
<a href="/payment/new">
  Calculate another payment
</a>
