<h1>Random Number</h1>

<form action="/random/results">
<div>
  <label for="zeta">Minimum</label>
  <input id="zeta" type="text" name="minimum">
</div>

<div>
  <label for="alpha">Maximum</label>
  <input id="alpha" type="text" name="maximum">
</div>

  <button>Pick random number</button> 
</form>
