<h1>Calcuate the square root of a number</h1>

<form action="/square_root/results">
  <label for="beta">Enter a number</label>

  <input id="beta" type="text" name="users_number">

  <button>Calculate root square</button> 
</form>
